h1 {
    text-align: center;
}

p {
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: justify;
}
h1 {
    margin-top: 5%;
    margin-bottom: 5%;
}
h2 {
    margin-top: 10%;
    margin-bottom: 20%;
}
h3 {
    margin-top: 5%;
}

#ar {
    size: 150%;
    color: black;
    border: 2px solid green;
  border-radius: 12px;
  padding: 5px;
  width: 100%;
  background-color: green;
  align-self: center;
}
footer {
    background-color: lightgray;
}
